<main>

    <h1>{{ titulo }}</h1>
    <section class="cards">

            <div class="colab01">
                <p class="p01">Colaborador</p>
                <p>Id: {{ colaborador.id}} </p>
                <p>Nome: {{ colaborador.nome }}</p>
                <p>Salário: {{ colaborador.salario }}</p>
                <p>Cargo: {{ colaborador.cargo }}</p>           
            </div>
            <div class="colab02">
                <p class="p01">Colaborador</p>
                <p>Id: {{ colaborador02.id }} </p>
                <p>Nome: {{ colaborador02.nome }} </p>
                <p>Salário: {{ colaborador02.salario }}</p>
                <p>Cargo: {{ colaborador02.cargo }}</p>
            </div>    
            <div class="colab03">
                <p class="p01">Colaborador</p>
                <p>Id: {{ colaborador03.id }} </p>
                <p>Nome: {{ colaborador03.nome }} </p>
                <p>Salário: {{ colaborador03.salario }}</p>
                <p>Cargo: {{ colaborador03.cargo }}</p>
            </div>  
    </section>
            <article class="texto01">
                <h2>Why do we use it?</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </article>           
            <article class="texto02">
                <h2>Where can I get some?</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
            </article>
       
            
</main>