main{
    max-width: 90%;
    margin: auto;
}
h1{
    text-align: center;
    padding-top: 1rem;
}
section{
    margin: auto;    
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    div{
        margin: auto;
        max-width: 30%; 
        align-self: center;
        border-radius: 1rem;
        background-color: #726CE5;
        padding: 0.9rem;
    }   
}
.p01{
    background-color:rgb(37, 52, 31);
    color: white;
    margin: auto;
    padding: 0.3rem;
    text-align: center;
    border-radius: 1rem;  
}


.colab-ativo{
    color: green;
}

.colab-desativo{
    color: red;
}