/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin: auto;
    max-width: 800px;
    min-width: 500px;
}
nav{
    margin: 2em;
}
h1{
    background-color: rgb(71, 5, 97);
    color: white;
    padding: 0.5em;
   border-radius: 0.50em;
    
}
h2{
    background-color: rgb(71, 5, 97);
    color: white; 
    padding: 0.5em;
    margin: 0 0.25em;
    border-radius: 0.50em;
}
section{
  display:flex;
}
p{
    margin-top: 1em;
}
