<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
    <div class="content">
        <div class="footerContacts">
            <h1>CodeAl</h1>
            <p>Tudo tech!</p>
            <div class="socialMidia">    
                <a href="#" class="footerLink" id="linkedin">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="#" class="footerLink" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="footerLink" id="facebook">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                
            </div>
        </div>
        <ul class="footerList">
            <li>
                <h3>Loja</h3>
            </li>
            <li>
                <a href="#" class="footerLink">Aparelhos</a>
            </li>
            <li>
                <a href="#" class="footerLink">Garantia</a>
            </li>
            <li>
                <a href="#" class="footerLink">Tech</a>
            </li>
        </ul>

        <ul class="footerList">
            <li>
                <h3>Produtos</h3>
            </li>
            <li>
                <a href="#" class="footerLink">Site</a>
            </li>
            <li>
                <a href="#" class="footerLink">Cloud</a>
            </li>
            <li>
                <a href="#" class="footerLink">App</a>
            </li>
        </ul>

        <div id="footerSubscribe">
            <h3>Inscreva-se</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi earum vitae quibusdam possimus.</p>
        </div>

    </div>
    <div id="footerCopy">
        &copy; Desenvolvido por, Aline.
    </div>
</footer>