nav{
    background-color:rgb(82, 31, 108) ;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    color: rgb(255, 255, 255) ;
    li{
        margin: 1rem;
        background-color:rgb(102, 6, 150) ;
        padding: 5px 10px;
        border-radius: 5px;
        
    }
    
}
.logo{
    font-size: 2.5rem;
    color: rgb(254, 253, 254) ;
}
.menu {
    text-decoration: none;
    color: rgb(199, 45, 45);
    padding: 10px 20px;
    font-size:20px;
}
.register{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size:20px;
    background-color:rgb(102, 6, 150) ;
    border-radius: 5px;
}
