<header>
    <nav>
        <div class="logo">
            CodeAl
        </div>
        <div class="menu">
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/contact']">Contact</a>
            <a [routerLink]="['/login']">Login</a>
        </div>
        <div class="register">
            <a [routerLink]="['/home']">Register</a>
        </div>
    </nav>
    <section class="text">
        <span>Tech Bank</span>
        <h2>Explore the world</h2>
        <a href="#">Conheça-nos</a>
    </section>
</header>