<app-header></app-header>
<h1>Olá, ainda estamos em construção!</h1>
<h2>Página de detalhes</h2>


<div ng-if="product">
        
            <p >Descrição do produto: {{ product?.descricao }}</p>
            <p>Preço: {{ product?.preco | currency: 'R$' }}</p>
            <p>Quantidade: {{ product?.quantidade }} </p>
            <img src="{{product?.imagem}}" width="250px" height="250px">


            <!--
                <p [ngClass]="{ 'em-estoque': produto.disponivel, 'falta-estoque': !produto.disponivel }">
                    {{ produto.disponivel ? 'Em estoque' : 'Produto em falta' }}</p>
                <br>
    
    
                <input type="text" (keyup)="pressinouTecla($event)">
                <button (click)="obterPrecoDesconto()">Obter Desconto de 10%</button>
                
            -->
            <br>
        </div>

<app-footer></app-footer>